@media only screen and (max-width: 1700px) {
    .nav h1{
        font-family: 'Orbitron', sans-serif;
        text-align: center;
        padding: 54px 60px;
        text-shadow: 3px 3px green;
        font-size: 30px;
    }
    .nav ul{
        display: flex;
        text-shadow: 3px 3px green;
    }
    .nav ul li{
        list-style: none;
        padding: 54px 10px;
    }
    .nav ul li a i{
        font-size: 30px;

    }
    .info img{
        width: 50%;
        float: left;
        border-radius: 10px;
        box-shadow: 3px 3px #AAFA8C;
        margin-top: 20px;
    }

    .info_inner{
        padding: 45px 40px;
        margin-left: 20px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .info_inner h1{
        font-family: 'Orbitron', sans-serif;
        font-size: 20px;
        text-shadow: 3px 3px green;
    }
    .info_inner p{
        font-family: 'Oswald', sans-serif;
        color:#AAFA8C;
        font-size: 15px;
    }

    footer{
        bottom:0;
        width:100%;
        height: 80px;   
        background-color: rgba(0, 0, 0, 0.5);
    }
    footer ul{
        display: flex;
        justify-content: space-evenly;
        padding: 2% 35%;
    }
    footer ul li{
        list-style: none;
    }
    footer ul li a{
        font-size: 25px;
        color: #AAFA8C;
    }
}


@media only screen and (max-width: 1280px) {
    .info img{
        display: none;
    }
    .info .info_document{
        width: 100%;
        float: none;
    }
    .info_inner{
        padding: 45px 40px;
        margin-left: 20px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        

    }
    .info{
        padding: 30px 200px 5px;
    }
    .info_inner h1{
        font-family: 'Orbitron', sans-serif;
        font-size: 30px;
        text-shadow: 3px 3px green;
    }
    .info_inner p{
        font-family: 'Oswald', sans-serif;
        color:#AAFA8C;
        font-size: 20px;
    }

    .Info_CoreValues{
        padding: 30px 0px;
        text-align: center;
        min-height: 40vh;
    }
    .Info_CoreValues h1{
        font-family: 'Orbitron', sans-serif;
        font-size: 40px;
        padding: 20px 0px 40px;
    }
    .Info_CoreValues p b{
        font-family: 'Orbitron', sans-serif;
        color: whitesmoke;
        font-size: 20px;
        text-shadow: 3px 3px green;
    }
    .Info_CoreValues p{
        font-family: 'Oswald', sans-serif;
        font-size: 18px;
        color: whitesmoke;
    
    }
}

@media only screen and (max-width: 800px) {

    .info_inner{
        padding: 45px 40px;
        margin-left: 20px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .info{
        padding: 30px 100px 5px;
    }
}

@media only screen and (max-width: 500px) {
    .nav h1{
        font-family: 'Orbitron', sans-serif;
        text-align: center;
        padding: 40px 50px;
        text-shadow: 1px 1px green;
        font-size: 20px;
    }
    .nav ul{
        display: flex;
        text-shadow: 1px 1px green;
    }
    .nav ul li{
        list-style: none;
        padding: 40px 10px;
    }
    .nav ul li a i{
        font-size: 20px;
    }
    .info{
        padding: 30px 10px 5px;
    }
    .info_inner{
        padding: 40px 40px;
        margin-left: 0px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .info_inner h1{
        font-family: 'Orbitron', sans-serif;
        font-size: 20px;
        text-shadow: 3px 3px green;
    }
    .info_inner p{
        font-family: 'Oswald', sans-serif;
        color:#AAFA8C;
        font-size: 15px;
    }

    .Info_CoreValues{
        padding: 10px 10px;
        margin: 10px 10px;
        text-align: center;
        min-height: 40vh;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .Info_CoreValues h1{
        font-family: 'Orbitron', sans-serif;
        font-size: 30px;
        padding: 20px 0px 40px;
        text-shadow: 3px 3px green;
    }
    .Info_CoreValues p b{
        font-family: 'Orbitron', sans-serif;
        color: whitesmoke;
        font-size: 20px;
        text-shadow: 3px 3px green;
    }
    .Info_CoreValues p{
        font-family: 'Oswald', sans-serif;
        font-size: 15px;
        color: whitesmoke;
    
    }

    

}