*{
    padding: 0%;
    margin: 0%;
}
.fPage{
    background-image: url(../Image/pexels-michał-osiński-3454270.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 130vh;
}
.fPage hr{
    width: 70%;
    margin: auto;
}
.nav{
    width: 100%;
    min-height: 8vh;
    display: flex;
    justify-content:space-around;
}
.nav img{
    width: 13%;
    height: 5%;
    padding: 10px 10px;

}
/* .nav h1{
    font-family: 'Orbitron', sans-serif;
    padding: 54px 60px;
    text-shadow: 3px 3px green;
    font-size: 50px;
} */

.nav ul{
    display: flex;
    text-shadow: 3px 3px green;
}
.nav ul li{
    list-style: none;
    padding: 54px 10px;
}

.nav ul li a i{
    font-size: 40px;
    color: black;

}
.nav ul li a #szLvl{
    font-size: 35px;
}

.info{
    padding: 30px 200px 500px;
}
.info_inner{
    padding: 41px 40px;
    margin-left: 20px;
    border-radius: 10px;
    background: rgba(0,0,0,0.5);

}
.info_inner h1{
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    text-shadow: 3px 3px green;
}
.info_inner p{
    font-family: 'Oswald', sans-serif;
    color:#AAFA8C;
    font-size: 20px;
}
.info .info_document{
    width: 50%;
    float: right;
}
.info img{
    width: 50%;
    float: left;
    border-radius: 10px;
    box-shadow: 3px 3px #AAFA8C;
}

.Info_CoreValues{
    text-align: center;
    min-height: 40vh;
    width: 55%;
    float: left;
}
.next_CoreImg{
    width: 45%;
    float: right;
}
.next_CoreImg img{
    margin-top: 100px 0px 0px 0px;
    border-radius: 10px;
    box-shadow: 3px 3px #AAFA8C;
}

.Info_CoreValues h1{
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    padding: 20px 0px 40px;
    text-shadow: 3px 3px green;
}
.Info_CoreValues p b{
    font-family: 'Orbitron', sans-serif;
    color: whitesmoke;
    font-size: 25px;
    text-shadow: 3px 3px green;
}
.Info_CoreValues p{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    color: whitesmoke;

}

footer{
    bottom: 0;
    margin-top: 50vh;
    width: 100%;
    height: 150px;   
    background-color: rgba(0, 0, 0, 0.5); 
}
footer ul{
    display: flex;
    justify-content: space-evenly;
    padding: 2% 40%;
}
footer ul li{
    list-style: none;
}
footer ul li a{
    font-size: 50px;
    color: #AAFA8C;
}