*{
    padding: 0%;
    margin: 0%;
}
.fPage{
    background-image: url(../Image/pexels-michał-osiński-3454270.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}
.memberNav{
    width: 100%;
    min-height: 8vh;
    display: flex;
    justify-content: space-around;
}
.memberNav h1{
    font-family: 'Orbitron', sans-serif;
    padding: 54px 60px;
    text-shadow: 3px 3px green;
    font-size: 50px;
}
.memberNav ul{
    display: flex;
    text-shadow: 3px 3px green;
}
.memberNav ul li{
    list-style: none;
    padding: 54px 10px;
}
.memberNav ul li a i{
    font-size: 40px;
    color: black;
}
.memberNav ul li a #szLvl{
    font-size: 35px;
}

.wrapper{
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0px 600px;
    padding: 50px 50px;
    border-radius: 10px;
}
.wrapper h1{
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 3px 3px green;
    font-size: 40px;
    padding: 0px 0px 80px;
}
.wrapper h2{
    padding: 0px 0px 20px;
    text-align: center;
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
}
.wrapper p{
    padding: 20px 0px 20px;
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    text-align: center;
}

