@media screen and (max-width: 1280px) {

    .memberNav h1{
        font-family: 'Orbitron', sans-serif;
        padding: 54px 60px;
        text-shadow: 3px 3px green;
        font-size: 30px;
    }
    .memberNav ul{
        display: flex;
        text-shadow: 3px 3px green;
    }
    .memberNav ul li{
        list-style: none;
        padding: 54px 10px;
    }
    .memberNav ul li a i{
        font-size: 35px;
        color: black;
    }
    .memberNav ul li a #szLvl{
        font-size: 35px;
    }

    .wrapper{
        background-color: rgba(0, 0, 0, 0.5);
        margin: 0px 200px;
        border-radius: 10px;
    }
    .wrapper h1{
        text-align: center;
        font-family: 'Orbitron', sans-serif;
        text-shadow: 3px 3px green;
        font-size: 40px;
        padding: 0px 0px 20px;
    }
    .wrapper h2{
        padding: 0px 0px 20px;
        text-align: center;
        color: whitesmoke;
        font-family: 'Oswald', sans-serif;
        font-size: 30px;
    }
    
}

@media only screen and (max-width: 800px) {

    .wrapper{
        background-color: rgba(0, 0, 0, 0.5);
        margin: 0px 100px;
        border-radius: 10px;
    }
    .wrapper h1{
        text-align: center;
        font-family: 'Orbitron', sans-serif;
        text-shadow: 3px 3px green;
        font-size: 40px;
        padding: 0px 0px 10px;
    }
    .wrapper h2{
        padding: 0px 0px 20px;
        text-align: center;
        color: whitesmoke;
        font-family: 'Oswald', sans-serif;
        font-size: 25px;
    }
}
@media only screen and (max-width: 400px) {

    .memberNav h1{
        font-family: 'Orbitron', sans-serif;
        padding: 54px 60px;
        text-shadow: 2px 2px green;
        font-size: 20px;
    }
    .memberNav ul{
        display: flex;
        text-shadow: 3px 3px green;
    }
    .memberNav ul li{
        list-style: none;
        padding: 54px 10px;
    }
    .memberNav ul li a i{
        font-size: 25px;
        color: black;
    }
    .memberNav ul li a #szLvl{
        font-size: 35px;
    }


    .wrapper{
        background-color: rgba(0, 0, 0, 0.5);
        margin: 0px 10px;
        border-radius: 10px;
    }
    .wrapper h1{
        text-align: center;
        font-family: 'Orbitron', sans-serif;
        text-shadow: 3px 3px green;
        font-size: 40px;
        padding: 0px 0px 10px;
    }
    .wrapper h2{
        padding: 10px 0px 20px;
        text-align: center;
        color: whitesmoke;
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
    }

    .wrapper p{
        padding: 20px 0px 20px;
        color: whitesmoke;
        font-family: 'Oswald', sans-serif;
        font-size: 15px;
        text-align: center;
    }
}
